<section class="py-8">
  {% paginate blog.articles by section.settings.number_of_blog_posts %}
    <h1 class="text-center text-3xl mb-8">{{ blog.title }}</h1>

    <div class="max-w-5xl mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        {% for article in blog.articles %}
          <article class="flex flex-col h-full px-3">
            <div class="bg-white shadow-xl rounded-lg overflow-hidden flex flex-col h-full">
              {% if article.image %}
                <a href="{{ article.url }}">
                  <img
                    class="w-full h-auto object-contain"
                    src="{{ article.image | img_url: 'medium' }}"
                    alt="{{ article.image.alt | default: article.title }}"
                    loading="lazy"
                  >
                </a>
              {% else %}
                {{ 'image' | placeholder_svg_tag: 'w-full h-48 object-cover bg-gray-100' }}
              {% endif %}

              <div class="p-4 flex flex-col justify-between flex-grow">
                <h2 class="text-center text-xl font-medium mb-4">{{ article.title }}</h2>

                <div class="text-sm text-gray-600 mb-4 min-h-[4rem]">
                  {% if article.excerpt.size > 0 %}
                    <p>{{ article.excerpt | strip_html | truncatewords: 20 }}</p>
                  {% else %}
                    <p>{{ article.content | strip_html | truncatewords: 20 }}</p>
                  {% endif %}
                </div>

                <a
                  href="{{ article.url }}"
                  class="text-center font-medium text-blue-600 hover:text-blue-800 mt-auto"
                >
                  {{ section.settings.blog_read_more }}
                </a>
              </div>
            </div>
          </article>
        {% endfor %}
      </div>
    </div>

    <section class="max-w-6xl mx-auto mt-10">
      {% render 'pagination', pagination: paginate %}
    </section>
  {% endpaginate %}
</section>

{% schema %}
{
  "name": "Blog",
  "settings": [
    {
      "type": "text",
      "id": "blog_read_more",
      "label": "Read More",
      "default": "Read More"
    },
    {
      "type": "range",
      "id": "number_of_blog_posts",
      "step": 1,
      "min": 1,
      "max": 6,
      "label": "Blog posts per page",
      "default": 3
    }
  ]
}
{% endschema %}
